*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.cabecario {
    height: 120px;
    width: 100%;
    /* border: 1px solid red; */
    background-color: #ffeed8;
}


.logotipo {
    /* border: 1px solid red; */
    height: 130px;
    width: 270px;
    margin-left: 30px;
}

.insta {
    width: 30px ;
    float: right;
    margin-top: 70px;
    margin-right: 40px;
}

.tt {
    width: 30px ;
    float: right;
    margin-top: 70px;
    margin-right: 40px;
    border-radius: 5px;
}

.face {
    width: 30px ;
    float: right;
    margin-top: 70px;
    margin-right: 40px;
    border-radius: 5px;
}

.abas {
    height: 90px;
    /* border: 1px solid red; */
    width: 85%;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: rgb(7, 233, 233);
    margin: 0 auto;
    border-radius: 2px 2px 23px 23px;
}

.links {
    margin-left: 40px;
    margin-right: 40px;
    font-size: 24px;
    text-decoration: none;
    color: aliceblue;
    font-weight: 500;
}

.links:hover {
   cursor: pointer;
   text-decoration: underline;

}